
  @import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

.front3{
    height:100%;
    width:100%;
    position: relative;
}
.cards{
    margin-top: 30px;
    display: flex;
    width: 90%;
    height: 80%;
    justify-content: space-around;
}
.cards .card{
    background-color: rgba(2, 2, 2, 0.6);
    margin: 2vw;
    width: 50%;
    border-radius: 30px;
    border: 2px solid rgb(255, 255, 255);
    overflow:hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.front3 .cards{
    position:absolute;
    transform: translate(-50%,-50%);
    top:50%;
    left:50%;
    text-align: center;
    display: flex;
    flex-direction: row;
}
.card{
    padding: 10px;
}
.front3 .cards h2{
    font-size: 2vw;
    font-family: 'Slabo 27px', serif;
    color:wheat;
    opacity: 100%;
}
.front3 .cards p{
    font-size: 1.2vw;
    color: wheat;
}
.cards .card .imgDiv{
    border-radius: 30px;
    max-height: 80%;
    overflow: hidden;
}
.cards .card .writing{
    background-color:rgba(2, 2, 2, 0.6);
    border-radius: 15px;
    margin:0.8rem 0 ;
}

hr{
    width: 90%;
    margin: 1rem 0;
    margin: auto;
}
@media screen and (max-width:550px) {
    .front3 .cards{
        height: 20rem;
        width: 25rem;
        flex-direction:column;
        align-items: center;
    }
}